[submodule "src/CoreBundle"]
	path = src/Arii/CoreBundle
	url = https://github.com/AriiPortal/CoreBundle.git
[submodule "src/Arii/UserBundle"]
	path = src/Arii/UserBundle
	url = https://github.com/AriiPortal/UserBundle.git
[submodule "src/Arii/JIDBundle"]
	path = src/Arii/JIDBundle
	url = https://github.com/AriiPortal/JIDBundle.git
[submodule "src/Arii/DSBundle"]
	path = src/Arii/DSBundle
	url = https://github.com/AriiPortal/DSBundle.git
[submodule "src/Arii/JOCBundle"]
	path = src/Arii/JOCBundle
	url = https://github.com/AriiPortal/JOCBundle.git
[submodule "src/Arii/GVZBundle"]
	path = src/Arii/GraphvizBundle
	url = https://github.com/AriiPortal/GraphvizBundle.git
[submodule "src/Arii/ReportBundle"]
	path = src/Arii/ReportBundle
	url = https://github.com/AriiPortal/ReportBundle.git
[submodule "src/Arii/AdminBundle"]
	path = src/Arii/AdminBundle
	url = https://github.com/AriiPortal/AdminBundle.git
