<html>
<head>
<link media="screen" rel="stylesheet" type="text/css" href="{{ asset('bundles/ariicore/css/admin.css') }}"  />
<style>
body {
background-color:white;
background-image:url("{{ asset('bundles/ariicore/images/robot.jpg') }}");
background-repeat:no-repeat;
overflow: hidden;
}
#About {
    margin-left: 230px;
}
#Copy {
    margin-top: 90px;
    margin-left: 20px;
}
</style>
</head>
<body>
<div id="About">
<h1>Ari'i</h1>
<p>Interface Open Source JobScheduler</p>
<p>Version: 2.0</p>
</div>
<div id="Copy">
</p>(c) Solutions Open Source Paris SAS</p>
</div>
</body>
</html>
