body,html {
    overflow: scroll;
}

title.fieldset {
    background-color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.dhtmlx_message_area{
    left: 400px;
    right: auto;
    width: 600px;
}

.dhtmlxMenu_dhx_skyblue_Middle {
	position: relative;
	height: 24px;
	border: none;
/*        background-color: transparent; */
        background-color: transparent;
	-moz-user-select: none;
}

div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled,
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected {
	border-left: transparent 1px solid;
	border-right: transparent 1px solid;	
}

.backgroundsuccess.even_row {
    background-color: #ccebc5;
}
.backgroundsuccess.odd_row  {
    background-color: lightgreen;
}
.backgroundfailure.even_row {
    background-color: #fbb4ae;
}
.backgroundfailure.odd_row {
    background-color: lightcoral;
}

.backgroundrunning.even_row {
    background-color:  #FFE763;
}
.backgroundrunning.odd_row {
    background-color:  #FFB951;
}

.one_line{
		white-space:nowrap;
		overflow:hidden;
		padding-top:5px; padding-left:5px;
		text-align:left !important;
	}
        
#page .inner_hide {
	margin-left: 10px;
	padding: 0 11px 0 0;
	
}

.dhtmlx-success {
background-color: lightgreen !important;
}

.success {
background-color: lightgreen !important;
}

/* SOS Doc */
span#title {
	font-size: 1.4em;
	font-weight:bold;
}

/* SOS Doc */
h2 h2 {
	font-size: 1.1em;
        color: red;
}

h2 h2 h2 {
	font-size: 1.0em;
        color: green;
}

span.JOC {
	color: red;
}

div#codeexample {
	background-color: #CCC;
	border-color: #AAA;
	font-family: courier;
}

div#topic {
	padding-left: 20px;
}

div#topic li {
 list-style-type: none;
 background-repeat: no-repeat;
 background-position: 0 0.32em;
 padding-left: 15px;
}

div#topic div#topic {
	padding-left: 20px;
}

div#topic div#topic div#topic {
	padding-left: 20px;
}

div#topic div#topic div#topic div#topic {
	border: 1px solid orange;
}

div#topic p  {
	font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: 10px;
}

div#topic img  {
	padding: 10px;
}

div#topic p img  {
}

div#topic a img  {
	padding: 0px;
}

div#topic h2 img  {
	padding: 0px;
}

div#topic a  {
	color: blue;
}

a.glossary  {
	color: brown;
}

code {
	white-space: pre;
}

span.key {
	background-color: #CCC;
        padding-right: 5px;
        padding-left: 5px;
}
span.path {
	font-family: courier;
	background-color: #CCC;
}
span.indexterm {
	font-weight:bold;
}
span.envvar {
	font-family: courier;
	font-weight:bold;
}
span.bouton {
	font-family: courier;
	background-color: lightblue;
}
span.formlabel {
	background-color: orange;
}
span.formvalue {
	font-family: courier;
	background-color: orange;
}

div.glossary {
    width: 500px;
    background-color: lightgreen;
    padding: 15px;
    padding-bottom: 0px;
    white-space: normal;
    font-size: 1.2em;
    line-height: 1.5em;
}

div.glossary h2 {
    display: none;
}

a h2, a:hover h2 {
    color: #666;
}

h2 a h2 {
    font-size: 1.0em;
    color: #666;
}

div#image_container {
    border: 1px solid red; 
}

div#image_container p {
/*   float: right; */
}

img.illustration {
  float: left;
}

.sidebar_menu li.job a {
	background: url(layout/wa/job.png) no-repeat 5px 5px;
}
.sidebar_menu li.orders a {
	background: url(layout/wa/order.png) no-repeat 5px 5px;
}
.sidebar_menu li.schedule a {
	background: url(layout/wa/schedule.png) no-repeat 5px 5px;
}
.sidebar_menu li.spooler a {
	background: url(layout/wa/spooler.png) no-repeat 5px 5px;
}
.sidebar_menu li.event a {
	background: url(layout/wa/event.png) no-repeat 5px 5px;
}
.sidebar_menu li.error a {
	background: url(layout/wa/error.png) no-repeat 5px 5px;
}
.sidebar_menu li.cluster a {
	background: url(layout/wa/ha.png) no-repeat 5px 5px;
}
.sidebar_menu li.calendar a {
	background: url(layout/wa/calendar.png) no-repeat 5px 5px;
}

.sidebar_menu li.reference a {
	background: url(layout/wa/reference.png) no-repeat 5px 5px;
}

.sidebar_menu li.holiday a {
	background: url(layout/wa/date.png) no-repeat 5px 5px;
}

.sidebar_menu li.country a {
	background: url(layout/wa/world.png) no-repeat 5px 5px;
}

.sidebar_menu li.connection a {
	background: url(layout/wa/connect.png) no-repeat 5px 5px;
}

.sidebar_menu li.remote_scheduler a {
	background: url(layout/wa/remote_scheduler.png) no-repeat 5px 5px;
}

.sidebar_menu li.process_class a {
	background: url(layout/wa/process_class.png) no-repeat 5px 5px;
}

.sidebar_menu li.lock a {
	background: url(layout/wa/lock.png) no-repeat 5px 5px;
}

.sidebar_menu li.user a {
	background: url(layout/wa/user.png) no-repeat 5px 5px;
}

.sidebar_menu li.users a {
	background: url(layout/wa/users.png) no-repeat 5px 5px;
}

.sidebar_menu li.logout a {
	background: url(layout/wa/logout.png) no-repeat 5px 5px;
}

.sidebar_menu li.enterprise a {
	background: url(layout/wa/enterprise.png) no-repeat 5px 5px;
}

.sidebar_menu li.team a {
	background: url(layout/wa/team.png) no-repeat 5px 5px;
}

.sidebar_menu li.enterprise a {
	background: url(layout/wa/enterprise.png) no-repeat 5px 5px;
}

.sidebar_menu li.webserver a {
	background: url(layout/wa/webserver.png) no-repeat 5px 5px;
}

.sidebar_menu li.chains a {
	background: url(layout/wa/job_chain.png) no-repeat 5px 5px;
}

.sidebar_menu li.security a {
	background: url(layout/wa/security.png) no-repeat 5px 5px;
}

.sidebar_menu li.network a {
	background: url(layout/wa/network.png) no-repeat 5px 5px;
}

.sidebar_menu li.organisation a {
	background: url(layout/wa/organisation.png) no-repeat 5px 5px;
}

.sidebar_menu li.organisation a {
	background: url(layout/wa/organisation.png) no-repeat 5px 5px;
}

.sidebar_menu li.process_class a {
	background: url(layout/wa/process_class.png) no-repeat 5px 5px;
}

.sidebar_menu li.remote_scheduler a {
	background: url(layout/wa/remote_scheduler.png) no-repeat 5px 5px;
}

.sidebar_menu li.lock a {
	background: url(layout/wa/lock.png) no-repeat 5px 5px;
}

.sidebar_menu li.spooler_install a {
	background: url(layout/wa/spooler_install.png) no-repeat 5px 5px;
}

.sidebar_menu li.modules a {
	background: url(layout/wa/plugin.png) no-repeat 5px 5px;
}

.sidebar_menu li.monitor a {
	background: url(layout/wa/monitor.png) no-repeat 5px 5px;
}

.sidebar_menu li.mft a {
	background: url(layout/wa/mft.png) no-repeat 5px 5px;
}

.sidebar_menu li.audit a {
	background: url(layout/wa/audit.png) no-repeat 5px 5px;
}

.sidebar_menu li.map a {
	background: url(layout/wa/map.png) no-repeat 5px 5px;
}

.sidebar_menu li.log a {
	background: url(layout/wa/log.png) no-repeat 5px 5px;
}

.sidebar_menu li.install a {
	background: url(layout/wa/install.png) no-repeat 5px 5px;
}

.sidebar_menu li.arii a {
	background: url(layout/wa/arii.png) no-repeat 5px 5px;
}

.sidebar_menu li.rabbit a {
	background: url(layout/wa/rabbit.png) no-repeat 5px 5px;
}

.sidebar_menu li.cron a {
	background: url(layout/wa/cron.png) no-repeat 5px 5px;
}

.sidebar_menu li.task_scheduler a {
	background: url(layout/wa/task_scheduler.png) no-repeat 5px 5px;
}

.sidebar_menu li.global a {
	background: url(layout/wa/rainbow.png) no-repeat 5px 5px;
}

.sidebar_menu li.features a {
	background: url(layout/wa/zoom.png) no-repeat 5px 5px;
}

.sidebar_menu li.runtimes a {
	background: url(layout/wa/time.png) no-repeat 5px 5px;
}

.sidebar_menu li.log_analyzer a {
	background: url(layout/wa/log_analyzer.png) no-repeat 5px 5px;
}

.sidebar_menu li.benefits a {
	background: url(layout/wa/add.png) no-repeat 5px 5px;
}

.sidebar_menu li.nested a {
	background: url(layout/wa/nested.png) no-repeat 5px 5px;
}

.dhtmlx_message_area{
    left: 400px;
    right: auto;
}

/* Calendrier (conflit avec Bootstrap) */
ul.chead li, ul.cdays li {
    width: 20px;
}

/* pour IE */
span span img {
border: 0;
}