    <!--[if !IE]>start footer<![endif]-->
    <div id="footer">
            <div id="footer_inner">

            <dl class="copy">
                    <dt><strong>HyperAdmin</strong> <em>build 26122008</em></dt>
                    <dd>&copy; 2012 <a href="http://www.sos-paris.com">Solutions Open Source Paris S.A.S.</a></dd>
            </dl>

            <dl class="quick_links">
                    <dt><strong>{{ "Performance" | trans }}:</strong></dt>
                    <dd>
                            <ul>
                                    <li><a href="{{ asset('Monitoring/cpu.png') }}">CPU</a></li>
                                    <li class="last"><a href="{{ asset('Monitoring/cpu.png') }}">Mémoire</a></li>
                            </ul>
                    </dd>
            </dl>


            <dl class="help_links">
                    <dt><strong>{{ "Need Help ?" | trans }}</strong></dt>
                    <dd>
                            <ul>
                                    <li><a href="http://support.sos-paris.com">Support</a></li>
                                    <!-- <li><a href="#">FAQ</a></li> -->
<!-- a mettre en option !                                    <li class="last"><img src="{ { url('arii_JID_purge') }}"/></li>
-->                            </ul>
                    </dd>
            </dl>

            </div>
    </div>
    <!--[if !IE]>end footer<![endif]-->
